
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica";
    color: black;
    font-size: 16px;
}
li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: column; 
    /* si je ne change pas la direction, les 3 blocs de logo, recherche et menu seront sur la meme ligne au centre */
    align-items: center;
    background-image:url(./Photos/fond\ blanc\ avec\ feuilles.png);
    background-repeat: no-repeat;
    background-size: cover;
}



#logo-lien{
    width: 13%; 
}

#logo{max-width: 100%;}


ul{
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
    width:100%;

}


.bar-top{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
}

.bar-top img{
    width: 40px;
    height: 40px;
}

.bar-top button{
    background-color: transparent; /* 透明背景 */
    border: none; /* 去掉按钮边框 */
    cursor: pointer; /* 鼠标悬停时变成指针 */
}

.search{
    display: flex;
    align-items: end;
}

.search input{
    /* width: 180px; 输入框的宽度 pas besoins de mettre largeur en fix, 100% de div parent (search) est plus responsive */
    padding: 10px; /* 用于调整输入框内部内容与边框之间的距离 */
    border: none; /* 去掉所有边框 */
    border-bottom: 2px solid #ccc; /* 仅保留下边框 */
    outline: none; /* 去掉输入框聚焦时的轮廓 */
    font-size: 1rem; /* 调整字体大小 */
}


#search-button{
    margin-left: -40px; /* 左侧负外边距，将图标移动到输入框内,否则图标会在下划线最右边，彼此之间会有一段空隙。这里使得图标和下划线重叠一部分 */
    margin-bottom: -5px;
    padding: 0; /* 去掉内边距 */
}

.user-cart{
    display:flex;
    justify-content: space-between;
    align-items: end;
}
 
#user{
    padding:0 30px 0 0; 
}
#cart {
    margin-bottom: -3%;
}
.burger{
    display: none;
}

nav{
    background-color: #CDC4A9;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
}


a{
    text-decoration-line: none;
    color: black;
}

a:hover{
    color:#847856;
    text-decoration: underline;
}
.dropdown a{
    padding: 10px;
    font-size: 1.375rem;
}
.dropdown{
    position: relative;
    width: 20%;
    padding: 5px;
    text-align: center;
}


.dropdown-content{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    box-shadow: 0 2px 5px 0 black;
    width: 100%; 
    top: 110%; /*sa position par rapport au containeur relative. Sur son top, il y 110% de hauter de containeur relative*/
    text-align: left;
    border-radius: 5%;
 

}

.dropdown-content a{
    padding: 10px 1rem;
    font-size: 1.25rem;
    display: block;
}
.dropdown-content a:hover{
    font-weight: bold;
    color: #35632F ;
    text-decoration: none;
  
}
.dropdown:hover .dropdown-content {display: block;}

.preparation{
    display: block;
}

.product{
    display:flex;
    font-weight: normal;
    margin:3% 5%;
    justify-content: space-between;
}

.product-content{width: 30%;}

  .mySlides {display: none}
  .mySlides img{width: 100%;}

  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
    width: 1%;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.product-image img{
    width: 80%;
}

h1, h2, h3{
    font-weight: normal;
}
h1{
    font-size:2rem;
}
h2{
    font-size: 1.25rem;
}
p{
    font-size: 16px;
}
.price{
    font-weight: bold;
    font-size: 30px;
}

.info{
    width: 30%;

}

.info ul{display: block;}

.info li{padding: 2% 0}

.price-quantity{
    display: flex;
}
.price-quantity button{
    background-color: transparent;/* 透明背景 */
    border: none; /* 去掉按钮边框 */
    cursor: pointer;
    margin-left: 20px;
}
.pochette{
    width: 40%;
}

.pochette img{
    width: 100%;
}
.pochette figcaption{
    font-size: 10px;
    text-align: center;
}
.add-cart input{
    width: 25px; /* 输入框的宽度 */
    padding: 5px; /* 用于调整输入框内部内容与边框之间的距离 */
    border: none; /* 去掉所有边框 */
    outline: none; /* 去掉输入框聚焦时的轮廓 */
    font-size: 16px; /* 调整字体大小 */
    background-color:#35632F;
}
.add-cart{
    margin-top: 20px;
}
.add-cart button{
    padding: 5px 15px; /* 用于调整输入框内部内容与边框之间的距离 */
    border: none; /* 去掉所有边框 */
    outline: none; /* 去掉输入框聚焦时的轮廓 */
    font-size: 16px; /* 调整字体大小 */
    background-color:#35632F;
    color: white;
    height: 100%;
    box-sizing: border-box;

}

.advise{
    display: flex;
    flex-direction: column;
    
}

.advise li{
    list-style-type: none;
    margin-top: 20px; /* 为每个列表项添加间距 */
    display: flex;
    align-items: center;
}

.advise li img{
    width: 30px;
    height: 30px;
    margin-right: 20px; /* 图标与文字之间的间距 */
    object-fit: contain; /* 确保图标保持比例 */
    background-color:#CDC4A9;
}

.advise li span{
    font-size: 18px;
}

.under-product{
    margin: 3% 5%;
    line-height: 1.8rem;

}

.footer-top ul{align-items: center;}

.footer-top,.footer-bottom{
    width: 100%;
    background-color: #CDC4A9;
    display: flex;
    /* align-items: center; */
   
}
 .footer-top{
    margin-top: 50px;
 }
 .footer-top li{
    width: 25%;
    padding: 1rem

 }


.footer-bottom{
    font-size: 20px;
    background-image: url(./Photos/fond-footer2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bottom li{padding:3rem}


.footer-icon img{
    width: 64px;
    height: 64px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
figcaption{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: center;
}
#bar{
    background-color: #847856;
    width: 100%;
    height: 10px;
    margin: 10px 0;
}

/* écran mobile*/
@media screen and (max-width: 480px){
    
    #logo-lien{min-width: 20%;}
      .bar-top img{
          width: 30px;
          height: 30px;
      }
      .menu-and-search{display:flex;}
      #menu-burger{position: relative;}
      .burger{display: inline-block;}
      #btn-burger{
          margin-right: 30px
      }
      #list-burger{
          display: none;
          position:absolute;
          z-index: 1;
          background-color: white;
          width: 100%;  
      }
      #list-burger.show {
          display: flex;
          flex-direction: column;
          align-items: start; 
          left:0px;
          padding: 3vw 6vw;
      }
      .dropdown{
          width: 100%;
          text-align: left;
          align-items: start;
          padding:0
      }
      .dropdown-content a{padding: 3px}
      .btn-menu{
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
      }
  
      .menu-item{
          width: 100%;
          padding: 3vw;
          text-align: center;
      }
      
      
      .item-content{
          display: none;
          background-color: white;
          width: 100%; 
          text-align: left;
      }
  
      .item-content.show {
          display: flex;
          flex-direction: column;
          align-items: start; 
          left:0px;
          padding: 3vw 6vw;
      }
      .item-content a {
          padding: 2vw
      }
  
  
  
      
      #search-input{
          display: none;
      }
      #search-button{
          margin-left: 0;
          margin-bottom: 0;
      }
      #cart{margin-bottom: -1vw;}
    
      nav{display: none;}
      
      .product, .under-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0
      }
      .product-content{width: 80%;}

      .product-image img {
        padding: 5vw 10vw;
        width: 100%;
        }   

        .info, .advise, .under-product {
        width: 100%;
        padding: 3% 10%;
        margin: 0
        }
    
        h1{font-size: 1.25rem}
        h2{font-size: 1rem}
        .info li{padding: 1% 0}

      .footer-icon img{
          width: 30px;
          height: 30px;
      }
  
      .footer-top li{
          width: 50%;
          padding: 1rem;
      }
      #bar{
          height: 1rem;
      }
      .footer-bottom .contact{
          height: 4rem;
      }
  
      .footer-bottom li{
          width: 20%;
          padding:3px
      }
      .footer-bottom{
        height: 8rem;
        display: flex;
        align-items: center;
    }

  
      figcaption h4{
          font-size: 1rem;
      }
      
      
  
  
  }
  
  