
.main-image{
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}
.main-image h3{
    color: white;
    font-family:"allura";
    font-size: 3.75rem;
    font-weight: normal;
}

#pureté{
    padding: 10% 0 0px 60%;
}

#force{
    padding-left:70%;
    padding-bottom: 10%;
   
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem
}
#rond{
    /* width: 10rem;
    height: 10rem; */

    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    margin:5rem 6.25rem 5rem 0
}
#valeur-pc{
    font-size: 1.5rem;
    line-height: 2rem;
}

#error {
    font-size: 1.5rem ;
    text-align: center;
    margin: 1.25rem;
}
#main-image{
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 25vh;
    font-size: 3rem;
    padding: 5vw;
    text-align: center;
    color: white;
    font-family:"allura";
  
}
ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


    
.exemples{
    padding:0 5rem;
}


.notre-selection h3{
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: normal;
    padding: 3rem 0;

}

.selection{
    width: 25%;
    min-height: 50%;
    height: 70vh;
    margin-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;

}

.selection:hover{
    transform: scale(1.1);
   
}
.selection a:hover{
    text-decoration: none;
}




figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.exemples figure img{
    width: 80%;
}


figcaption{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figcaption h4{
    font-size: 1.25rem;
}
figcaption h5{
   font-weight: normal;
   margin-top: 5px;
}

.prix{
    font-weight: bold;
}

.add{
    background-color: #CDC4A9;
    border: none;
    width:14.375rem;
    height: 2.5rem;
    margin: 10px
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre le champ et le bouton */
}

.quantity {
    width: 50px; /* Largeur de l'input */
    text-align: center;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    color: #CDC4A9;
    padding: 5px;
}

.add-button {
    background-color: #CDC4A9; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-button:hover {
    background-color: #45a049; /* Couleur au survol */
}

.quantity:focus {
    outline: none;
    border-color: #45a049; /* Couleur de la bordure lorsque l'input est actif */
}




/* écran mobile*/
@media screen and (max-width: 480px){
    #pureté{
     font-size: 2rem;
     padding-left: 30%
    }
    #force{
        font-size: 2rem;
        padding-left: 40%
    }
    .presentation{
        padding: 1rem;
        background-color: #CDC4A9;
    }
    #rond{
      margin: 0 3vw;
      box-shadow: 1px 2px 2px black;
    }
    #valeur-mobile{
        display: block;
        line-height: 1.5rem;}
    
    #valeur-pc{display: none;}
    .notre-selection h3{
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1.5rem 0;
    }
    .exemples{
        padding:0 1.5rem;
    }
    .exemples li{
        width: 50%;
        margin-bottom: 2rem;
        max-height: 350px;
    }
    .add{
        width: 10rem;
        font-size:14px;
    }
    figcaption h4{
        font-size: 1rem;
    }
    
    


}

