

li{
    list-style-type: none;
}


ul{
    display: flex;
    justify-content: space-around;
	flex-wrap: wrap;


}

.preparation{
    display: block;
}

.product{
    display:flex;
    font-weight: normal;
    margin:3% 5%;
    justify-content: space-between;
}

.product-content{width: 30%;}

  .mySlides {display: none}
  .mySlides img{width: 100%;}

  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
    width: 1%;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .add{
    background-color: #CDC4A9;
    border: none;
    width:14.375rem;
    height: 2.5rem;
    margin: 10px
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre le champ et le bouton */
}

.quantity {
    width: 50px; /* Largeur de l'input */
    margin-left: -10px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    color: #CDC4A9;
    padding: 5px;
}

.add-button {
    background-color: #CDC4A9; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-button:hover {
    background-color: #45a049; /* Couleur au survol */
}

.quantity:focus {
    outline: none;
    border-color: #45a049; /* Couleur de la bordure lorsque l'input est actif */
}

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.product-image img{
    width: 80%;
}

h1, h2, h3{
    font-weight: normal;
}
h1{
    font-size:2rem;
}
h2{
    font-size: 1.25rem;
}
p{
    font-size: 16px;
}
.price{
    font-weight: bold;
    font-size: 30px;
}

.info{
    width: 30%;

}

.info ul{display: block;}

.info li{padding: 2% 0}

.price-quantity{
    display: flex;
}
.price-quantity button{
    background-color: transparent;/* 透明背景 */
    border: none; /* 去掉按钮边框 */
    cursor: pointer;
    margin-left: 20px;
}

#accessory-price{

    margin: 6vw 0 2vw 0;
}
.pochette{
    width: 40%;
}

.pochette img{
    width: 100%;
}
.pochette figcaption{
    font-size: 10px;
    text-align: center;
}

.advise{
    display: flex;
    flex-direction: column;
    
}

.advise li{
    list-style-type: none;
    margin-top: 20px; /* 为每个列表项添加间距 */
    display: flex;
    align-items: center;
}

.advise li img{
    width: 30px;
    height: 30px;
    margin-right: 20px; /* 图标与文字之间的间距 */
    object-fit: contain; /* 确保图标保持比例 */
    background-color:#CDC4A9;
}

.advise li span{
    font-size: 18px;
}


.empty{
    width: 40vh;
}
.under-product{
    margin: 3% 5%;
    line-height: 1.8rem;

}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
figcaption{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-align: center;
}
#bar{
    background-color: #847856;
    width: 100%;
    height: 10px;
    margin: 10px 0;
}



/* écran mobile*/
@media screen and (max-width: 480px){
    
      .product, .under-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0
      }
      .product-content{width: 80%;}

      .product-image img {
        padding: 5vw 10vw;
        width: 100%;
        }   

        .info, .advise, .under-product {
        width: 100%;
        padding: 3% 10%;
        margin: 0
        }
    
        h1{font-size: 1.25rem}
        h2{font-size: 1rem}
        .info li{padding: 1% 0}
  
  
  }
  
  