@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica";
    color: black;
    font-size: 16px;
}


li{
    list-style-type: none;
  
} 

header{
    /* background image est définit dans html*/
    display: flex;
    flex-direction: column; 
    /* si je ne change pas la direction, les 3 blocs de logo, recherche et menu seront sur la meme ligne au centre */
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 

}


#logo-lien{width: 13%; }

#logo{max-width: 100%;}

.bar-top{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
}

.bar-top img{
    width: 40px;
    height: 40px;
}

.bar-top button{
    background-color: transparent; /* 透明背景 */
    border: none; /* 去掉按钮边框 */
    cursor: pointer; /* 鼠标悬停时变成指针 */

}


.search {
    display: flex;
    align-items: end; /* 确保图片与文本在垂直方向居中对齐 */
}  

.search input{
    /* width: 180px; 输入框的宽度 pas besoins de mettre largeur en fix, 100% de div parent (search) est plus responsive */
    padding: 10px; /* 用于调整输入框内部内容与边框之间的距离 */
    border: none; /* 去掉所有边框 */
    border-bottom: 2px solid #ccc; /* 仅保留下边框 */
    outline: none; /* 去掉输入框聚焦时的轮廓 */
    font-size: 1rem; /* 调整字体大小 */
}


#search-button{
    margin-left: -40px; /* 左侧负外边距，将图标移动到输入框内,否则图标会在下划线最右边，彼此之间会有一段空隙。这里使得图标和下划线重叠一部分 */
    margin-bottom: -5px;
    padding: 0; /* 去掉内边距 */
}

 
#user{
    padding:0 30px 0 0; 
}
.user-cart{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#cart {
    margin-bottom: -3%;
}

.burger{
    display: none;
}

#valeur-mobile{
    display: none;
}

nav{
    background-color: #CDC4A9;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
}

a{
    text-decoration-line: none;
    color: black;
}
.dropdown a{
    padding: 10px;
    font-size: 1.375rem;
}
a:hover{
    color:#847856;
    text-decoration: underline;
}

.dropdown{
    position: relative;
    width: 20%;
    padding: 5px;
    text-align: center;
}


.dropdown-content{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    box-shadow: 0 2px 5px 0 black;
    width: 100%; 
    top: 110%; /*sa position par rapport au containeur relative. Sur son top, il y 110% de hauter de containeur relative*/
    text-align: left;
    border-radius: 5%;
 

}

.dropdown-content a{
    padding: 10px 1rem;
    font-size: 1.25rem;
    display: block;
}
.dropdown-content a:hover{
    font-weight: bold;
    color: #35632F ;
    text-decoration: none;
  
}
.dropdown:hover .dropdown-content {display: block;}

.main-image{
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}
.main-image h3{
    color: white;
    font-family:"allura";
    font-size: 3.75rem;
    font-weight: normal;
}

#pureté{
    padding: 10% 0 0px 60%;
}

#force{
    padding-left:70%;
    padding-bottom: 10%;
   
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem
}
#rond{
    /* width: 10rem;
    height: 10rem; */

    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    margin:5rem 6.25rem 5rem 0
}
#valeur-pc{
    font-size: 1.5rem;
    line-height: 2rem;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
    
.exemples{
    padding:0 5rem;
}

.footer-top{
    width: 100%;
    background-color: #CDC4A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.footer-top li{
    width: 25%;
    padding: 1rem;
}
.footer-bottom{
    background-color: #CDC4A9;
    font-size: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-bottom li{padding: 3rem;}
.notre-selection h3{
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: normal;
    padding: 3rem 0;

}

.exemples a:hover{
    text-decoration: none;
}


.exemples li{
    width: 25%;
    margin-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.exemples figure img{
    width: 80%;
}

.footer-icon img{
    width: 64px;
    height: 64px;
}

figcaption{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figcaption h4{
    font-size: 1.25rem;
}
figcaption h5{
   font-weight: normal
}

.prix{
    font-weight: bold;
}

.add{
    background-color: #CDC4A9;
    border: none;
    width:14.375rem;
    height: 2.5rem;
    margin: 10px
}

#bar{
    background-color: #847856;
    width: 100%;
    height: 10px;
    margin: 10px 0;
}

/* écran mobile*/
@media screen and (max-width: 480px){

    header{
        background-size: contain;
    }
    
    #logo-lien{min-width: 20%;}
    .bart-top img{
        width: 30px;
        height: 30px;
    }
    .menu-and-search{display:flex;}
    #menu-burger{position: relative;}
    .burger{display: inline-block;
    }
    #btn-burger{
        margin-right: 30px
    }
    #list-burger{
        display: none;
        position:absolute;
        z-index: 1;
        background-color: white;
        width: 100%;  
    }
    #list-burger.show {
        display: flex;
        flex-direction: column;
        align-items: start; 
        left:0px;
        padding: 3vw 6vw;
    }
    .dropdown{
        width: 100%;
        text-align: left;
        align-items: start;
        padding:0
    }
    .dropdown-content a{padding: 3px}
    .btn-menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .menu-item{
        width: 100%;
        padding: 3vw;
        text-align: center;
    }
    
    
    .item-content{
        display: none;
        background-color: white;
        width: 100%; 
        text-align: left;
    }

    .item-content.show {
        display: flex;
        flex-direction: column;
        align-items: start; 
        left:0px;
        padding: 3vw 6vw;
    }
    .item-content a {
        padding: 2vw
    }
    .search input{
        display: none;
    }
    #search-button{
        margin-left: 0;
        margin-bottom: 0;
    }
    #cart{margin-bottom: -1vw;}
  
    nav{display: none;}

    #pureté{
     font-size: 2rem;
     padding-left: 30%
    }
    #force{
        font-size: 2rem;
        padding-left: 40%
    }

    .presentation{
        padding: 1rem;
        background-color: #CDC4A9;
    
    }
    
    #rond{
      margin: 0 3vw;
      box-shadow: 1px 2px 2px black;
  
    }
    #valeur-mobile{
        display: block;
        line-height: 1.5rem;}
    
    #valeur-pc{display: none;}
   

    .notre-selection h3{
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1.5rem 0;
    
    }

    .exemples{
        padding:0 1.5rem;
    }

    .exemples li{
        width: 50%;
        margin-bottom: 2rem;
    
    }
    
    .add{
        width: 10rem;
        font-size:14px;

    }

    .footer-icon img{
        width: 30px;
        height: 30px;
    }

    .footer-top li{
        font-size: 14px;
        width: 50%;
    }
    #bar{
        height: 1rem;
    }
    .footer-bottom .contact{
        height: 4rem;
    }

    .footer-bottom li{
        width: 20%;
        padding:3px
    }

    .footer-bottom{
        height: 8rem;
        display: flex;
        align-items: center;
    }

    figcaption h4{
        font-size: 1rem;
    }
    
    


}

