<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeaSpirit! Thé biologique</title>
    <link rel="stylesheet" th:href="@{/css/basic.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/style-index.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main id="page-content">
        <header th:style="'background-image: url(/images/head-feuille.png)'">
            <a id="logo-lien" th:href="@{/teaspirit}"><img id="logo" th:src="@{/images/logo.png}" alt="logo TeaSpirit"></a>
           <section class="bar-top">
                <div class="menu-and-search">
                    <div class="burger">
                        <button id="btn-burger">
                            <img th:src="@{/images/menu-burger-64.png}" alt="menu-principal">
                        </button>
                        <ul id="list-burger">
                            <li id="menu-item-thé" class="menu-item">
                                <button class="btn-menu"><a th:href="@{/teaspirit/tea}">Thés</a><i id ="fleche-the" class="fa fa-caret-down"></i> </button>
                                <div id="item-content-thé" class="item-content">
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé blanc')}">Thé Blanc</a>
                                    <!-- Cette ligne de code génère automatiquement l'URL products/tea/filter?type=thé%20blanc lorsque je clique sur le lien. -->
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé vert')}">Thé Vert</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé jaune')}">Thé Jaune</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé noir')}">Thé Noir</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='oolong')}">Oolong</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='pu erh')}">Pu Erh</a>
                                </div>
                            </li>
                            <li class="menu-item"><button class="btn-menu"><a href="#">Coffrets</a></button></li>

                            <li id="menu-item-accesoires" class="menu-item">
                                <button class="btn-menu"><a th:href="@{/teaspirit/accessory}">Accesoires</a><i id="fleche-accesoires" class="fa fa-caret-down"></i> </button>
                                <div id="item-content-accesoires" class="item-content">
                                    <a th:href="@{/teaspirit/accessory/filter(category='theiere')}">Théières</a>
                                    <a th:href="@{/teaspirit/accessory/filter(category='tasse')}">Tasses</a>
                                    <a th:href="@{/teaspirit/accessory/filter(category='ustensiles')}">Ustensiles</a>
                    
                                </div>
                            </li>
            
                            <li id="menu-item-guide" class="menu-item">
                                <button class="btn-menu"><a href="#">Guide du thé</a></button>
                                <div id="item-content-guide" class="item-content">
                                </div>
                            </li>
                        </ul>      
                    </div>
                    <form role="search" th:action="@{/teaspirit/search}" th:method="get">
                        <!-- role="search" permet aux lecteurs d'écran d'indiquer le formulaire comme étant un formulaire de recherche.
                        WAI-ARIA (Web Accessibility Initiative - Accessible Rich Internet Applications) est une spécification écrite par le W3C, 
                        qui définit un ensemble d'attributs HTML supplémentaires, qui peuvent être appliqués 
                        aux éléments afin de fournir une sémantique complémentaire et d'améliorer l'accessibilité où elle fait défaut. -->
    
                        <div class="search">
                            <label for="search"> <input type="search" placeholder="Jasmine" name="query"/></label>
                            <!-- The name attribute is used to reference elements in a JavaScript, or to reference form data after a form is submitted.

Note: Only form elements with a name attribute will have their values passed when submitting a form. -->
                            <button id="search-button" type="submit">
                                <img th:src="@{/images/icons8-chercher-64.png}" alt="search image">
                            </button>
                        </div>
                    </form>
                </div>
                
                <div class="user-cart">
                    <button id="user">
                        <a th:href="@{/teaspirit/login}"><img th:src="@{/images/icons8-utilisateur-64.png}" alt="user image"></a>
                    </button>
                    <button id="cart">
                        <img th:src="@{/images/cart-64.png}" alt="cart image">
                    </button>

                </div>
            </section>
            <nav class="menu">
                <div class="dropdown">
                    <a th:href="@{/teaspirit/tea}">Thés</a>
                    <div class="dropdown-content">
                        <a th:href="@{/teaspirit/tea/bytype(type='thé blanc')}">Thé Blanc</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='thé vert')}">Thé Vert</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='thé jaune')}">Thé Jaune</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='thé noir')}">Thé Noir</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='oolong')}">Oolong</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='pu erh')}">Pu Erh</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Coffrets</a>
                </div>
                <div class="dropdown">
                    <a th:href="@{/teaspirit/accessory}">Accesoires</a>
                    <div class="dropdown-content">

                        <a th:href="@{/teaspirit/accessory/filter(category='theiere')}">Théières</a>
                        <a th:href="@{/teaspirit/accessory/filter(category='tasse')}">Tasses</a>
                        <a th:href="@{/teaspirit/accessory/filter(category='ustensiles')}">Ustensiles</a>
                    </div>

                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Guide du thé</a>
                </div>

            </nav>  
        </header>

        <div class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></div>

        <section class="user">
          
            <div class="login">
                <form action="/teaspirit/user/account" method="POST">
                    <h2>Se connecter</h2>
                    <div class="form-item">
                        <label for="identifiant-login">Identifiant ou e-mail*</label>
                        <br>
                        <input type="text" id="identifiant-login" name="identifier" required >
                    </div>
                    <div class="form-item">
                        <label for="password-login">Mot de passe*</label>
                        <br>
                        <input type="password" id="password-login" name="password" required>
                        <div class="show-password">
                            <label for="show-login">Show Password</label>
                            <input id="show-login" type="checkbox">
                        </div>

                    </div>
                    <button type="submit">Se connecter</button>
                </form>
            </div>
            <div class="register">
                <form action="/teaspirit/user/signup" method="post">
                    <h2>S'enregistrer</h2>
                    <div class="form-item">
                        <label for="identifiant-register">E-mail*</label>
                        <br>
                        <input type="email" id="identifiant" name="email" required>
                    </div>

                    <div class="form-item">
                        <label for="password">Mot de passe*</label>
                        <br>
                        <input type="password" id="password-register" name="password" required><image></image>
                        <div class="show-password">
                            <label for="show-register">Show Password</label>
                            <input id="show-register" type="checkbox">
                        </div>
                        
                    </div>
                    <button type="submit">S'enregistrer</button>
                </form> 
            </div>

        </section>
    
       
        <footer>
            <section class="footer-top">
                 <ul class="footer-icon">
                    <li>
                        <figure>
                            <img th:src="@{/images/livraison.png}"  alt="livraison offerte dès 60€ d'achats">
                            <br>
                            <figcaption>LIVRAISON OFFERTE <br>DÈS 60€ D'ACHATS</figcaption>

                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/lock.png}" alt="paiement sécurisé">
                            <br>
                            <figcaption>PAIEMENT SÉCURISÉ</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/box.png}" alt="expédition en 72h">
                            <br>
                            <figcaption>EXPÉDITION EN 72H</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/recycle.png}" alt="emballages recyclés">
                            <br>
                            <figcaption>TOUS NOS EMBALLAGES<br>SONT RECYCLABLES</figcaption>
                        </figure>
                        
                    </li>
                </ul>
            </section>
            <div id="bar"></div>
            <section class="footer-bottom" th:style="'background-image:url(/images/fond-footer2.png)'">
                <ul class="contact">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Notre Histoire</a></li>
                    <li><a href="#">Conditions Génarales de Vente</a></li>
                    <li><a href="#">Mention Légales</a></li>
                </ul>

            </section>

        </footer>
    </main>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>  
</body>
</html>