<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit - [[${product.name}]]</title>
    <link rel="stylesheet" th:href="@{/css/basic.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/style-page-produit.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main id="page-content">
        <header th:style="'background-image: url(/images/head-feuille.png)'">
            <a id="logo-lien" th:href="@{/teaspirit}"><img id="logo" th:src="@{/images/logo.png}" alt="logo TeaSpirit"></a>
                <section class="bar-top">
                    <div class="menu-and-search">
                        <div class="burger">
                            <button id="btn-burger">
                                <img th:src="@{/images/menu-burger-64.png}" alt="menu-principal">
                            </button>
                            <ul id="list-burger">
                                <li id="menu-item-thé" class="menu-item">
                                    <button class="btn-menu"><a href="#">Thés</a><i id ="fleche-the" class="fa fa-caret-down"></i> </button>
                                    <div id="item-content-thé" class="item-content">
                                        <a th:href="@{/products/tea/filter(type='thé blanc')}">Thé Blanc</a>
                                        <a th:href="@{/products/tea/filter(type='thé vert')}">Thé Vert</a>
                                        <a th:href="@{/products/tea/filter(type='thé jaune')}">Thé Jaune</a>
                                        <a th:href="@{/products/tea/filter(type='thé noir')}">Thé Noir</a>
                                        <a th:href="@{/products/tea/filter(type='oolong')}">Oolong</a>
                                        <a th:href="@{/products/tea/filter(type='pu erh')}">Pu Erh</a>
                                    </div>
                                </li>
                                <li class="menu-item"><button class="btn-menu"><a href="#">Coffrets</a></button></li>

                                <li id="menu-item-accesoires" class="menu-item">
                                    <button class="btn-menu"><a href="#">Accesoires</a><i id="fleche-accesoires" class="fa fa-caret-down"></i> </button>
                                    <div id="item-content-accesoires" class="item-content">
                                        <a href="#">Théières</a>
                                        <a href="#">Tasses</a>
                                        <a href="#">Ustensiles</a>
                
                                    </div>
                                </li>
                
                                <li id="menu-item-guide" class="menu-item">
                                    <button class="btn-menu"><a href="#">Guide du thé</a></button>
                                    <div id="item-content-guide" class="item-content">
                                    </div>
                                </li>
                            </ul>      
                        </div>
                        <form action="">
                            <div class="search">
                                <label for="search"></label>
                                <input type="text" placeholder="Jasmine, Détox" name="" value="" />
                                <button id="search-button">
                                    <img th:src="@{/images/icons8-chercher-64.png}" alt="search image">
                                </button>
                            </div>
                        </form>
                        
                     </div>
                
                    <div class="user-cart">
                        <button id="user">
                            <img th:src="@{/images/icons8-utilisateur-64.png}" alt="user image">
                        </button>
                        <button id="cart">
                            <img th:src="@{/images/cart-64.png}" alt="cart image">
                        </button>

                    </div>
                </section>
            <nav class="menu">
                <div class="dropdown">
                    <a href="#">Thés</a>
                    <div class="dropdown-content">
                        <a th:href="@{/products/tea/filter(type='thé blanc')}">Thé Blanc</a>
                        <a th:href="@{/products/tea/filter(type='thé vert')}">Thé Vert</a>
                        <a th:href="@{/products/tea/filter(type='thé jaune')}">Thé Jaune</a>
                        <a th:href="@{/products/tea/filter(type='thé noir')}">Thé Noir</a>
                        <a th:href="@{/products/tea/filter(type='oolong')}">Oolong</a>
                        <a th:href="@{/products/tea/filter(type='pu erh')}">Pu Erh</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Coffrets</a>
                </div>
                <div class="dropdown">
                    <a href="#">Accesoires</a>
                    <div class="dropdown-content">
                        <a href="#">Théières</a>
                        <a href="#">Tasses</a>
                        <a href="#">Ustensiles</a>

                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Guide du thé</a>
                </div>

            </nav>  
        </header>
        <section class="product">
            <div class="product-content">
                <div class="slideshow-container">
                  <div class="mySlides fade">
                    <img th:src="@{${product.image}}" alt="image de produit">
                  </div>
                  <div class="mySlides fade">
                    <img th:src="@{/uploads/pochette.png}" alt="image de d'emballage">
                  </div>
                  <a class="prev" onclick="plusSlides(-1)">❮</a>
                  <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                <br>
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                </div>
            </div>
              
            <div class="info">
                <h1 th:text="${product.name}">Product name</h1>
                <p th:text="'Référence: '+${product.sku}">Product Sku</p> <br>
                <h2 th:utext="'Profil aromatique: ' + ${product.profil}">Profil</h2>
                <h2 th:text="'Type: '+ ${product.type}">type</h2>
                <br>
                <ul class="features"><h2>Caractéristiques:</h2>
                    <li th:text="'Origine: ' + ${product.origin}">Origin</li>
                    <li>Culture biologique: label bio de l'UE</li>
                    <li th:text="'Standard de cueillette: '+ ${product.picking}">Picking</li>
                    <li th:text="'Période de récole: '+ ${product.period}">Period</li>
                </ul>
                <div class="price-quantity">
                    <h2 class="price" th:text="${product.price} + '€'">Price</h2>
                    <button class="50g">
                        <figure class="pochette">
                            <img th:src="@{/images/sachet.jpg}" alt="pochette de 100g">
                            <figcaption>Pochette <br> vrac 50g</figcaption>
                        </figure>
                    </button>
                </div>
                <div class="add-cart">
                    <input type="text" placeholder="+1" id="quantity">
                    <label for="quantity"></label>
                    <button class="add">AJOUTER AU PANIER</button>
                </div>  
            </div>
            <div class="advise">
                <h2> Conseilles de Préparation</h2>
                <ul class="preparation">
                    <li id="temperature">
                        <img th:src="@{/images/temperature.png}" alt="temperature">
                        <span th:text="${product.temperature}">Temperature</span>
                    </li>
                    <li id="time">
                        <img th:src="@{/images/time.png}" alt="temps de Préparation">
                        <span th:text="${product.timing}">Timing</span>
                    </li>
                    <li id="dose">
                        <img th:src="@{/images/dose.png}" alt="image dose">
                        <span th:text="${product.dose}">Dose</span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="under-product">
            <div class="pairing">
                <h2>Pairing et Aliments</h2>
                <p th:text="${product.pairing}">Pairing content</p>
            </div>
            <br><br>
            <div class="bienfatis">
                <h2>Bienfaits</h2>
                <p th:utext="${product.benefits}">Benefits content</p>
            </div>
            <br><br>
            <div class="plus">
                <h2>A savoir plus...</h2>
                <p th:text="${product.plus}"></p>
            </div>
        </section>
        <footer>
            <section class="footer-top">
                <ul class="footer-icon">
                    <li>
                        <figure>
                            <img th:src="@{/images/livraison.png}"  alt="livraison offerte dès 60€ d'achats">
                            <br>
                            <figcaption>LIVRAISON OFFERTE <br>DÈS 60€ D'ACHATS</figcaption>

                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/lock.png}" alt="paiement sécurisé">
                            <br>
                            <figcaption>PAIEMENT SÉCURISÉ</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/box.png}" alt="expédition en 72h">
                            <br>
                            <figcaption>EXPÉDITION EN 72H</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/recycle.png}" alt="emballages recyclés">
                            <br>
                            <figcaption>TOUS NOS EMBALLAGES<br>SONT RECYCLABLES</figcaption>
                        </figure>
                        
                    </li>
                </ul>

            </section>
            <div id="bar"></div>
            <section class="footer-bottom" th:style="'background-image:url(/images/fond-footer2.png)'">
                <ul class="contact">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Notre Histoire</a></li>
                    <li><a href="#">Conditions Génarales de Vente</a></li>
                    <li><a href="#">Mention Légales</a></li>
                </ul>

            </section>
        </footer>
    </main>
<script type="text/javascript" th:src="@{/js/js-produit.js}"></script>  
</body>
</html>