<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeaSpirit/Tealist</title>
    <link rel="stylesheet" th:href="@{/css/basic.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/tealist.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main id="page-content">
        <header th:style="'background-image: url(/images/head-feuille.png)'">
            <a id="logo-lien" th:href="@{/teaspirit}"><img id="logo" th:src="@{/images/logo.png}" alt="logo TeaSpirit"></a>
           <section class="bar-top">
                <div class="menu-and-search">
                    <div class="burger">
                        <button id="btn-burger">
                            <img th:src="@{/images/menu-burger-64.png}" alt="menu-principal">
                        </button>
                        <ul id="list-burger">
                            <li id="menu-item-thé" class="menu-item">
                                <button class="btn-menu"><a th:href="@{/teaspirit/product}">Thés</a><i id ="fleche-the" class="fa fa-caret-down"></i> </button>
                                <div id="item-content-thé" class="item-content">
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé blanc')}">Thé Blanc</a>
                                    <!-- Cette ligne de code génère automatiquement l'URL products/tea/filter?type=thé%20blanc lorsque je clique sur le lien. -->
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé vert')}">Thé Vert</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé jaune')}">Thé Jaune</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='thé noir')}">Thé Noir</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='oolong')}">Oolong</a>
                                    <a th:href="@{/teaspirit/tea/bytype(type='pu erh')}">Pu Erh</a>
                                </div>
                            </li>
                            <li class="menu-item"><button class="btn-menu"><a href="#">Coffrets</a></button></li>

                            <li id="menu-item-accesoires" class="menu-item">
                                <button class="btn-menu"><a th:href="@{/teaspirit/accessory}">Accesoires</a><i id="fleche-accesoires" class="fa fa-caret-down"></i> </button>
                                <div id="item-content-accesoires" class="item-content">
                                    <a th:href="@{/teaspirit/accessory/filter(category='theiere')}">Théières</a>
                                    <a th:href="@{/teaspirit/accessory/filter(category='tasse')}">Tasses</a>
                                    <a th:href="@{/teaspirit/accessory/filter(category='ustensiles')}">Ustensiles</a>
                                </div>
                            </li>
            
                            <li id="menu-item-guide" class="menu-item">
                                <button class="btn-menu"><a href="#">Guide du thé</a></button>
                                <div id="item-content-guide" class="item-content">
                                </div>
                            </li>
                        </ul>      
                    </div>
                    <form th:action="@{/teaspirit/search}" th:method="get" role="search">
                        <div class="search">
                            <label for="search"> <input type="text" placeholder="Jasmine" name="query" /></label>
                            <button id="search-button" type="submit">
                                <img th:src="@{/images/icons8-chercher-64.png}" alt="search image">
                            </button>
                        </div>
                    </form>
                </div>
                
                <div class="user-cart">
                    <button id="user">
                        <a th:href="@{/teaspirit/user/login}"><img th:src="@{/images/icons8-utilisateur-64.png}" alt="user image"></a>
                    </button>
                    <button id="cart">
                        <img th:src="@{/images/cart-64.png}" alt="cart image">
                    </button>

                </div>
            </section>
            <nav class="menu">
                <div class="dropdown">
                    <a th:href="@{/teaspirit/product}">Thés</a>
                    <div class="dropdown-content">
                        <a th:href="@{/teaspirit/tea/bytype(type='thé blanc')}">Thé Blanc</a>
                        <!-- Cette ligne de code génère automatiquement l'URL products/tea/filter?type=thé%20blanc lorsque je clique sur le lien. -->
                        <a th:href="@{/teaspirit/tea/bytype(type='thé vert')}">Thé Vert</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='thé jaune')}">Thé Jaune</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='thé noir')}">Thé Noir</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='oolong')}">Oolong</a>
                        <a th:href="@{/teaspirit/tea/bytype(type='pu erh')}">Pu Erh</a>

                    </div>
                </div>
                <div class="dropdown">
                    <a href="#">Coffrets</a>
                </div>
                <div class="dropdown">
                    <a th:href="@{/teaspirit/accessory}">Accesoires</a>
                    <div class="dropdown-content">
                        <a th:href="@{/teaspirit/accessory/filter(category='theiere')}">Théières</a>
                        <a th:href="@{/teaspirit/accessory/filter(category='tasse')}">Tasses</a>
                        <a th:href="@{/teaspirit/accessory/filter(category='ustensiles')}">Ustensiles</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="#">Guide du thé</a>
                </div>

            </nav>  
        </header>
        <div id="main-image" th:style="'background-image:url(/images/main-image.jpg)'">la pureté de la tradition</div>
    
        <div th:if="${!products.empty}">
            <section id = "tealist">
                <div class="product" th:each="product: ${products.content}">
                    <!-- th:each : est une boucle de foreach; pour product: est l'objet récupéré de la liste products
                    products fait référence de l'objet Page<products>, cet objet a plusiuers propriétés utiles pour la pagination, comme content, number, totalPages, etc.
                    products.content: cette propriété représente la liste de tous les éléments (ici, chaque product) de la page actuelle -->
                    <!-- chaque fois que Thymeleaf rencontre cette directive, il va générer un <div> pour 
                    chaque produit de thé contenu dans products.content, en utilisant la variable product pour insérer les valeurs spécifiques à ce produit dans le HTML. -->
                    <a th:href="@{/teaspirit/bysku(sku=${product.sku})}">
                        <figure>
                            <img class="product-image" th:src="${product.image1}" alt="image de produit">
                            <figcaption>
                                <h4 th:text="${product.name}">Product Name</h4>
                                <h5 class="prix" th:text="${product.price} + '€'"> Product Price</h5>
                            </figcaption>
                        </figure> 
                    </a>
                    <button class="add">AJOUTER AU PANIER</button>
                </div>
                
            </section>

          
            <div id="error" th:if="${products.empty}">Aucun produit correspond à votre recherche</div>
        </div>
        <div class="pagination">
            <span th:text="'Page ' + ${products.number + 1} + ' sur ' + ${products.totalPages}"></span>
            <div>
                <a th:if="${products.hasPrevious()}" th:href="@{/search(query=${query},page=${products.number - 1})}">&laquo;</a>
             <!-- products.number est une propriété directement accessible de l'objet Page en Spring Data JPA. Le number représente la page actuelle, 
              d'où sa simplicité d'accès sans méthode intermédiaire. Et c'est pourquoi tu vois products.number plutôt que products.getNumber().-->
             <!-- ${} est une variable de Thymeleaf -->
                <a th:if="${products.hasNext()}" th:href="@{/search(query=${query},page=${products.number + 1})}">&raquo;</a>
                <!-- Thymeleaf syntax : Utilise des parenthèses () pour séparer les paramètres, comme (type=${type},page=${products.number - 1}).
                 dans URL les paramètres sont séparés par virgule et rangés dans une (), sauf que la virgule est 
                 devenue automtiquement & dans URL -->
            </div>
        </div>

        <!-- products.number donne le numéro de page actuel, une méthode de Thymeleaf -->
        
        <footer>
            <section class="footer-top">
                <ul class="footer-icon">
                    <li>
                        <figure>
                            <img th:src="@{/images/livraison.png}" alt="livraison offerte dès 60€ d'achats">
                            <br>
                            <figcaption>LIVRAISON OFFERTE <br>DÈS 60€ D'ACHATS</figcaption>

                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/lock.png}" alt="paiement sécurisé">
                            <br>
                            <figcaption>PAIEMENT SÉCURISÉ</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/box.png}" alt="expédition en 72h">
                            <br>
                            <figcaption>EXPÉDITION EN 72H</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img th:src="@{/images/recycle.png}" alt="emballages recyclés">
                            <br>
                            <figcaption>TOUS NOS EMBALLAGES SONT RECYCLABLES</figcaption>
                        </figure>
                        
                    </li>
                </ul>

            </section>
            <div id="bar"></div>
            <section class="footer-bottom" th:style="'background-image:url(/images/fond-footer2.png)'">
                <ul class="contact">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Notre Histoire</a></li>
                    <li><a href="#">Conditions Génarales de Vente</a></li>
                    <li><a href="#">Mention Légales</a></li>
                </ul>

            </section>

        </footer>

    </main>
    
</body>
</html>